.jumbotron{
	background-color: #bbd7ed;
	color:black;
}
footer{
	padding: 10px 10px 0 10px;/*reloj, top, right, bottom, left*/
	background-color: #bbd7ed;
	margin-bottom: 0px;
	margin-top:10px;
}
.card-hotel{
	flex:1 150px;/*cuanto crece el elemento, de cuanto va a ser el ancho*/
	padding: 4px 6px 2px 6px;
}  
.btn-reserva{
	width: 100%;
} 

